/vendor/
node_modules/
npm-debug.log
yarn-error.log
public/storage

storage/*.key
.env
.env.testing
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
tailwind-safelist.txt
public/mix-manifest.json
public/js/app.js
public/css/app.css